.details {
    margin-top: 100px;
  }
  li {
    color: aliceblue;
    font-size: 1rem;
  }
  .details__title1 {
    
    font-size: 2rem;
    text-align: center;
    margin: 50px;
  }
  .details-content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .details-btm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .details-info-list {
    display: flex;
    align-items: center;
    column-gap: 4rem;
  }
  li {
    font-size: 1.3rem;
  }
  .span-info {
    font-size: 1.4rem;
    color: darkgrey;
  }
  .borders {
    font-size: 1.3rem;
  }
  .details-flag{
      max-width: 300px;
      height: 200px;
  }
  .details-flag-img{
      width: 100%;
  }
  @media screen and (max-width: 830px) {
      .details-btm{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
      }
      .details-info{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 2rem;
  
      }
  }
  @media screen and (max-width: 520px) {
      .details-info{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
  
      }
      .details-info-list {
          display: flex;
          flex-direction: column;
          /* justify-content: center; */
          align-items: center;
          column-gap: 4rem;
        }
  }